<div class="modal fade code" id="qr_code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog qr-card">
		<div class="qr-header"><br/>
	        <h2 class="qr-title">Mon QRcode :</h2> <br/>
			<div class="qrcode"> <%= image_tag @profile.qr_code, class:"code" %> <br/> <br/></div>
	    </div>
	</div>
</div>