<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bonjour <%= @user.first_name %> et bienvenue chez Quanttine !</h1><br>
  <p>Tu vas dès à présent pouvoir commander tes menus de cantine du soir pour le lendemain: quel régal ! C'est l'occasion d'apprendre à manger équilibré tout en choissisant des choses que tu aimes. </p>
  <p>Tu t'es inscrit en utilisant l'e-mail suivant : <%= @user.email %>. Pour accéder à ton espace client, connecte-toi via : <%= @url %></p>
  <p> À très vite !</p>
  </body>
  </html>
