<div id="wrapper">
	<%= render 'side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'top_bar' %>
		<%= render 'helpers/flash' %>
		<div id="content">
			<div class="container-fluid">
				<%= render 'content' %>
			</div>
		</div>
	</div>
</div>