<div id="wrapper">
	<%= render 'side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'top_bar' %>
		<%= render 'partials/flash' %>
		<%= render 'content' %>
	</div>
</div>
