<head>
  <meta HTTP-EQUIV="REFRESH" content="5; url='<%= admin_path(current_admin) %>'">
</head>
<body>
  <h1>L'équipe Quanttine vous remercie pour votre confiance.</h1>
  <h2>Voici le montant de votre commande : <%= @amount %> € </h2>
  <p>Vous allez être redirigé dans quelques secondes.</p>
  <p>Sinon, vous pouvez aussi cliquer ici : <%= link_to "mon tableau de bord", admin_path(current_admin) %></p>
</body>
