<div class="site-section cta-big-image" id="about-section">
  <div class="container">
    
    <img src="https://images.pexels.com/photos/1537166/pexels-photo-1537166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image" class="img-fluid">
    <div class="img-box">
      <span class="sub-title">Creative Skills</span>
      <h2>Create Your Own Web Masterpiece</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eveniet, voluptatem harum provident iusto modi explicabo! Aperiam velit reiciendis, eius impedit ea necessitatibus facilis nobis ipsum, architecto cum, doloribus nesciunt.</p>
      <p><a href="#" class="btn btn-outline-dark">Read More</a></p>
    </div>
  </div>  
</div>
