<div class="site-section cta-big-image" id="about-section">
  <div class="container">
    
    <img src="https://images.pexels.com/photos/1537166/pexels-photo-1537166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image" class="img-fluid">
    <div class="img-box">
      <span class="sub-title">Comment ça marche ?</span>
      <h2>Choisis ton déjeuner !</h2>
      <p>Nous proposons une interface simple d'utilisation du côté de l'élève comme du côté de la cuisine. En effet, l'écolier aura accès au menu du lendemain et pourra choisir ce qu'il va manger... Pratique pour la cuisine qui ne fera plus de surproduction !</p>
    </div>
  </div>  
</div>
