<section class="site-section" id="blog-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Blog</h3>
        <h2 class="section-title mb-3">Our Blog Posts</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <a href="single.html"><img src="https://www.inc-conso.fr/sites/default/files/cantine_252.png" alt="Image" class="img-fluid"></a>
          <h2 class="font-size-regular"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
          <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="single.html">News</a></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
          <p><a href="single.html">Continue Reading...</a></p>
        </div> 
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <a href="single.html"><img src="https://www.inc-conso.fr/sites/default/files/cantine_252.png" alt="Image" class="img-fluid"></a>
          <h2 class="font-size-regular"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
          <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="single.html">News</a></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
          <p><a href="single.html">Continue Reading...</a></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <a href="single.html"><img src="https://www.inc-conso.fr/sites/default/files/cantine_252.png" alt="Image" class="img-fluid"></a>
          <h2 class="font-size-regular"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
          <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="single.html">News</a></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
          <p><a href="single.html">Continue Reading...</a></p>
        </div> 
      </div>
      
    </div>
  </div>
</section>

