<section class="site-section" id="blog-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Presse</h3>
        <h2 class="section-title mb-3">Des articles qui peuvent vous intéresser</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="https://media.ouest-france.fr/v1/pictures/8977994887bdb6ce66a5f2242bda77ed-gaspillage-alimentaire.jpg?width=1260&height=712&focuspoint=50%2C25&cropresize=1&client_id=cmsfront&sign=aa67379e490bd92ffb2823cc1ee91b809109295c3f3faa54002389342e366c78" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><%= link_to "Gaspillage alimentaire. À chaque repas, la restauration collective jette 44 kg de nourriture.", "https://www.ouest-france.fr/education/gaspillage-alimentaire-chaque-repas-la-restauration-collective-jette-44-kg-de-nourriture-6020611" %></h2>
          <div class="meta mb-4">Ouest-France <span class="mx-2">&bullet;</span> 16 Oct. 2018<span class="mx-2">&bullet;</span></div>
          <p>170 grammes par personne et par repas. C’est le chiffre correspondant au gaspillage alimentaire dans les cantines de restauration collective, révélé dans une étude de l’Ademe, dans le cadre de la journée nationale contre le gaspillage alimentaire.</p>
        </div> 
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="https://media.ouest-france.fr/v1/pictures/37fb74f5d3d9798e5f797ddc7d22a47d-formation-voulez-vous-coder-avec-moi.jpg?width=1260&height=712&focuspoint=50%2C50&cropresize=1&client_id=cmsfront&sign=d2a1ed79bed4b7480cade18d720f2475d9ad5734f4dcd89e21e4a6fc597b5548" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><%= link_to "Formation : voulez-vous coder avec moi ?", "https://www.ouest-france.fr/normandie/flers-61100/formation-voulez-vous-coder-avec-moi-5645337" %></h2>
          <div class="meta mb-4">Ouest-France <span class="mx-2">&bullet;</span> 25 Mar. 2018<span class="mx-2">&bullet;</span></div>
          <p>Une réunion pour présenter une formation dédiée à la programmation informatique était organisée, mardi, aux Bains-Douches Numériques de Flers. Une formation gratuite et à distance.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="http://s1.lprs1.fr/images/2019/05/17/8074044_f97ce42e-7886-11e9-9c8e-32f064025ce9-1_1000x625.jpg" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><%= link_to "Sevran : ce qui attend les familles pour les factures de cantine", "http://www.leparisien.fr/seine-saint-denis-93/sevran-ce-qui-attend-les-familles-pour-les-factures-de-cantine-17-05-2019-8074044.php" %></h2>
          <div class="meta mb-4">Le Parisien<span class="mx-2">&bullet;</span> 17 Mai 2019<span class="mx-2">&bullet;</span></div>
          <p>Dès septembre, douze tranches tarifaires seront mises en application, en remplacement des trois tranches. Les familles monoparentales devraient s’y retrouver.</p>
        </div> 
      </div>
      
    </div>
  </div>
</section>

