<p class="section-title mb-3 contact-us-title">Des questions ?</p>
<form class="contact_us_form card">
	<div class="input-info">
		<p>Nom de votre établissement :</br>
		<input type="text" class="input-style" name="school_name"><br>
		Ville : </br>        
		<input type="text" class="input-style" name="city_name"><br>
		Adresse email :</br>
		<input type="text" class="input-style" name="email"><br>
	</div>
	<div class="input-text">
		Dites-nous :<br>
		<textarea cols="40" rows="5" input type="text" name="text-field" id="text-field" class="input-style">Si vous voulez en savoir plus sur le fonctionnement de Quanttine, n'hésitez pas à nous contacter !</textarea><br>
		<button class="contact-us-submit">Envoyer</button>
	</div>
</form>