<section class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div class="owl-carousel slide-one-item-alt">
          <img src="https://images.pexels.com/photos/1251179/pexels-photo-1251179.jpeg?cs=srgb&dl=bake-bakery-baking-1251179.jpg&fm=jpg" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-5 ml-auto">

        <h2 class="section-title mb-3">We Are The Best Consulting Agency</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

        <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
        
      </div>
    </div>
  </div>
</section>

