<section class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div class="owl-carousel slide-one-item-alt">
         <%= image_tag "chef.png", alt: "Image", class: "img-fluid" %>
        </div>
      </div>
      <div class="col-lg-5 ml-auto">

        <h2 class="section-title mb-3">Nos ressources à votre service</h2>
        <p class="lead sub-title-home">Vous êtes sur le point de choisir Quanttine? Vous faites le bon choix.</p>
        <p>L'intégralité de notre temps et de nos ressources est consacrée à Quanttine. En effet, nous sommes une équipe de jeunes développeurs qui s'est crée et articulée autour de ce projet. Parce que nous pensons que Quanttine tend à avoir un impact positif sur les utilisateurs et la planète, nous voulons aller au bout de cette démarche.</p>

      </div>
    </div>
  </div>
</section>

