<section class="site-section border-bottom bg-light" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Les Avantages</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-autorenew"></span></div>
          <div>
            <h3 class="title-content">La commande en ligne</h3>
            <p>Elle permettra de garder un choix large tout en s'assurant qu'il sera disponible pendant tout le service.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-backspace"></span></div>
          <div>
            <h3 class="title-content">Un tableau de bord intuitif</h3>
            <p>L'intendant de la cantine pourra facilement rentrer les aliment en stock, et les proposer au menu.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>
          <div>
            <h3 class="title-content">Une réduction des coûts</h3>
            <p>Grâce à une vision globale des besoins alimentaires des élèves, la cantine pourra adapter ses stocks.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-beenhere"></span></div>
          <div>
            <h3 class="title-content">Une proposition sur mesure</h3>
            <p>À l'inscription, l'élève rentrera ses impératifs alimentaires. Cela permettra de proposer un repas adapté.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-business_center"></span></div>
          <div>
            <h3 class="title-content">Une interface simple</h3>
            <p>Un modèle développé de manière intuitive, afin d'avoir un rendu accessible pour tous.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-cloud_done"></span></div>
          <div>
            <h3 class="title-content">Un coup de pouce pour la planète</h3>
            <p>En adaptant les stocks de la cantine aux besoins des élèves, plus de surconsommation de nourriture. Il est important d'éveiller les consciences.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>