<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title mb-3">Notre Approche</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class=" box-with-humber">
          <h2 class="text-black title-content"><i class="fas fa-hand-holding-heart"></i>   Éthique</h2>
          <p class="mb-4">L'idée de cette application est venue d'une volonté commune de l'équipe: réduire le gaspillage alimentaire. La nourriture est pour nous quelque chose de sacré et on ne trouve pas normal de devoir en jeter, quand certains n'en n'ont pas.</p>
          
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class=" box-with-humber">
          <h2 class="text-black title-content"><i class="fas fa-sign-language"></i>    Pratique</h2>
          <p class="mb-4">Nous avons mis en place un site facile d'utilisation, qui simplifieras le choix des élèves et surtout la préparation des plats. Une sélection d'aliments pour l'élève sera faite la veille ou le matin, cela permettra d'ajuster les stocks et les commandes côté cuisine.</p>
          
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class=" box-with-humber">
          <h2 class="text-black title-content"><i class="fas fa-drafting-compass"></i>    Logique</h2>
          <p class="mb-4">Grâce à un fonctionnement intelligent et personnalisé, les élèves se verront proposer un repas adapté à leur régime alimentaire. Cela permettra à l'établissement d'avoir une vision globale des quantités dont leur cantine aura vraiment besoin.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>

