<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>L'équipe de Quanttine vous remercie pour votre confiance. Vous pouvez des à présent, visiter votre tableau de bords et préparer les repas qui seront proposés à vos élèves.</p>
  </body>
</html>
