<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>L'école <%= @admin.school.name %> vient de se désabonner à Quanttine.
    Nous vous regrettons de vous voir partir.
    N'hésitez pas à nous contacter à l'adresse suivante si besoin est : <a href="mailto:hello@quanttine.io?subject=feedback"></a></p>
  </body>
</html>
