<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Bienvenue sur Quanttine !</p>

    <p>La première étape sera de vous inscrire; vous avez le choix entre un abonnement mensuel ou un abonnement annuel. Une fois l'abonnement réglé, vous pourrez créer les repas qui seront proposés en cantine, et avoir une vue d'ensemble sur les produits consommés par vos élèves.</p>
    <p>Si vous avez des questions, contactez-nous à l'adresse suivante : mailto:hello@quanttine.io?subject=renseignement/administration" .</p>
    <br/>
    <p>L'équipe Quanttine</p>
  </body>
</html>
