<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>L'équipe de Quanttine vous souhaite la bienvenue</p>

    <p>Commencez par vous abonner à Quanttine. Vous avez le choix entre un abonnement mensuel et un autre annuel. Une fois l'abonnement réglé, vous pourrez choisir les repas qui seront proposés à vos élèves en cantine</p>
    <p>Si vous avez des questions, contactez-nous à l'adresse suivante : <a href="mailto:hello@quanttine.io?subject=renseignement/administration"></a></p>
  </body>
</html>
