<h1>Bienvenue sur Quanttine !</h1>

<p>Vous venez de vous inscrire sur Quanttine.com avec l'adresse email: <%=@admin.email %>; connectez-vous sur <%= @url %> pour avoir accès à toutes vos fonctionnalités d'administrateur.</p>
<p>Le gaspillage alimentaire est devenu un vrai fléau; chez Quanttine, nous avons à coeur d'éveiller les conscience sur ce problème et de proposer des solutions durables et faciles à mettre en place: grâce à votre dashboard, vous allez pouvoir gérer vos stocks et réduire de façon considérable les stocks que vous jetez.</p>

<p>Publiez vos menu directement sur votre dashboard et laissez les élèves commander; de cet façon vous aurez le bon nombre de portions préparé chaque jour.</p>
<p>N'oubliez pas, nous avons pensé à tout le monde; vous pouvez proposer des alternatives halal, kasher et vegan à vos élèves !</p>
<br/> <br/>

<h4>Merci pour votre confiance, et votre geste écologique !</h4>
<h4>A très vite sur Quanttine</h4>