<h1>Souhaitez vous payer annuellement ou mensuellement ?</h1>
<%= link_to "annuellement", new_yearly_payment_path %>
<%= link_to "mensuellement", new_monthly_payment_path %>

<h1>Sinon, cliquez ici pour vous désabonnez de Quanttine :</h1>
<%= link_to "je me désabonne", 
