<h1>Souhaitez vous payer mensuellement ou annuellement ?</h1>
<%= link_to "annuellement", new_charge_payment_path(amount: 600) %>
<%= link_to "mensuellement", new_subscription_payment_path(amount: 50) %>
<h2></h2>
