<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous faire savoir que votre adresse e-mail a été changée pour: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous faire savoir que votre adresse e-mail a été changée pour: <%= @resource.email %>.</p>
<% end %>

<p>L'équipe Quanttine.</p>