<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à cause d'un trop grand nombre de tentative de connection ratées.</p>

<p>Cliquez sur le lien ci-dessous pour le ré-activer:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
