/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require assets/static_page/css/style
*= require assets/dashboard/css/sb-admin-2
*= require_tree .
*= require_self
*/

/* SCROLL */

html {
  scroll-behavior: smooth;
}

/* BLINK ANIMATION CARD ADMIN DASHBOARD */

#todo {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation:blink 1200ms infinite;
}

@keyframes blink {
  from {
    color:#D90929;
  }
  to {
    color:#FD7D72;
  }
}
@-webkit-keyframes blink {
  from {
    color:#D90929;
  }
  to {
    color:#FD7D72;
  }
}

/* CARD PROFILE */

#card-profile {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* BUTTON ACTIVE STORAGE */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Alert */

.alert {
  position: fixed;
  top: 60px;
  right: 20px;
  display: inline-block;
  z-index: 9999;
}

/* MODAL */

.edit-header {
  padding-left: 30em;
}

.modal-footer {
	display : flex;
	justify-content : center;
}

.modal-header {
	padding-left: 23%;
  color: white;
  background: linear-gradient(180deg, #2BBB67 10%, #33DE79 100%);
}

.modal-header1 {
  padding-left: 15%;
  color: white;
  background: linear-gradient(180deg, #2BBB67 10%, #33DE79 100%);
}

.qr-header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: auto;
  margin-top: 8em;
}

.qr-title{
  color: #4A4A4A
}

.qrcode {
  text-align: center;
}

.code {
  min-width: 28em;
  min-height: 28em;
  margin-bottom: 10px;
}

/* NAVBAR */

.fixed-top.scrolled {
  background-color: #FFFFFF !important;
  transition: background-color 200ms linear;
  border-bottom: 1px solid #f3f3f4 !important;
}

.nav-link-home.scrolled {
  color: #2F312F !important;
}

.site-logo.scrolled {
  color: #525255 !important;
}

.title-root:hover {
  color: blue !important;
  text-decoration: none;
}

.btn-profil:hover {
  color: white !important;
}

/* COLORED NAVBAR */

.colored-header {
  background-color: transparent;
  height: 92px;
  display: flex;
  justify-content: space-around;
  box-shadow: 4px 4px 10px #C0C0C0;
  z-index: 0;
}

.colored-header a{
  color: #6ed26e !important;
  margin-right: 5px;
}

.nav-title {
  font-size: 1.9em;
}

.navbar-toggler {
  color: white;
}

#quant1{
  color: #5D5D5D !important;
}

.link1:hover {
  color: #58C176 !important;
}

/* BUTTON */

.btn-primary:focus {
	background-color: #4DE377 !important;
	border: 1px solid #4DE377 !important;
}

/* BANNER */

#home-section {
  background-image: url(vegetables_banner.jpg);
  width: 100%;
  position: relative;
}

/*BANNER ITEMS*/



.banner-button{
  margin-top: 3em;
}

.banner-items{
  margin-top: 12em !important;
}

.banner-text{
  font-size: 1.2em !important;
  text-align: center;
  position: absolute;
  top: 5em;
  width: 80%;

}

.card-group {
  width: 80%;
}

.card-body {
  padding: 0.5em;
}

.card-group .card {
  margin: 1em;
  border-radius: 10px !important;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  border: solid !important;
}

.card-group .card:hover {
  background-color: rgba(0,0,0,0.75);
}


.digit {
  font-size: 1.5em !important;
  text-align: center;
  color: #33DE79 !important;
}

.text-banner {
  color: white;
  font-style: italic;
  font-size: 30px !important;
  margin-top: 2.5em;
}



.statement {
  font-weight: bold !important;
  text-align: center;
  margin-top: 11em;
  color: white;
  font-size: 2em !important;
  font-style: italic;
  text-shadow: 2px 2px black;
  width: 100% !important;
  position: absolute;
}



/* ANIMATION SCROLL DOWN */

#section05 a {
  padding-top: 70px;
}

#section05 a span {
  position: absolute;
  bottom: 3em;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*LANDING PAGE CONTENT*/

.app_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  width: 25%;
}

/* EDIT USER */

.profile-edit {
  height: 90em;
}

.edit-pictures {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  height: 16em;
}

.qr-link {
  display: flex;
  align-self: center;
}

.choice-title {
  background-image: radial-gradient(circle at bottom right, #D1EED1, #27D16C 60%) !important;
  font-weight: bold;
  color: white;
}

.show-user ul li {
	margin-left: 20px;
}

.user-info {
	max-width: 40em;
	min-width: 15em;
  height: 44.6em;
  margin: auto;
  border-radius: 8px;
  text-align: center;
}

.big-card:hover {
  transition-duration: 1000ms;
  box-shadow: 0 0 14px #8E8E8E;

}

.big-card {
  transition-duration: 1000ms;
  border: 1px solid #afafaf;
  box-shadow: 0 0 10px #cdcdcd;
}

.user-photo {
  height: 200px;
  display: block;
}

.avatar{
  border-radius: 50%;
}

.icon1{
  padding: 10px;
  background: #F8F9FC;
  color: #4B4B4B;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.choice {
  font-size: 1.1em;
  width: 20em;
  margin: auto;
  text-align: left;
}

#envoyer:hover {
  border: 1.2px solid #78e478;
}

.send {
 margin-left: 6em;
}

.send1:hover {
  border: 1px solid #6ed26e !important;
}

.end-button{
  display: flex;
  justify-content: flex-end;
}

.unhappy {
  margin-top: 5px;
  margin-right: 8px;
}

.card-body a {
  color: #4DE377;
}

.card-body1{
  border-bottom: 1px solid #afafaf;
  width: 100%;
  margin-left: 0px;
}

.card-body a:hover {
  text-decoration: underline;
}

.card-link {
  margin-left: 30px;
}

.space {
	height: 10em;
}

.content {
	margin: auto;
	text-align: center;
}

.edit-title{
  color: white;
  background-image: radial-gradient(circle at bottom right, #333a4d, #586689) !important;
}

.choix-menu{
  background-color: #75df7a;
  color: white !important;
}

.choix-menu:hover{
  background-color: #65D46A !important;
  text-decoration: none !important;
  color: white !important;
}

.btn-outline-secondary{
  color: #858796 !important;
}

.btn-outline-secondary:hover{
  color: white !important;
  text-decoration: none !important;
}

/* FOOTER */

.site-footer {
 padding: -10px !important;
}

.footer-distributed{
  position: absolute;
  bottom: 0;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 #4DE377;
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  margin-bottom: -80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px, cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #4DE377;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

/* FOOTER FOR OTHER PAGES */

.footer-colored {
  color: white;
  background-color: #363636;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.footer-content a {
  color: white;
}

/*LANDING PAGE CONTENT*/

.fa-drafting-compass, .fa-sign-language, .fa-hand-holding-heart {
  color: #858796 !important;
}

.title-content{
  color: #858796 !important;
}

/* CONTACT US FORM LANDING PAGE*/

.contact-us-title{
  text-align: center;
}

#text-field{
  height: 50%;
  font-style: italic;
}

.contact_us_form{
  text-align: center;
  border: 2px solid;
  border-color: #33DE79;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 5px 5px 5px #D9D9DA;
}

.input-info{
  text-align: left;
  padding: 3em;
}

.input-text{
  padding: 3em;
}

.input-style{
  color: #999999;
}

@media (max-width: 800px) {
  .contact_us_form {
    margin: 10px 0;
    padding: 50px;
  }

  .input-info {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 10px;
  }

  .input-text {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }
}

.contact-us-submit{
  background-color: #33DE79;
  color: white;
  border-color: white;
  width: 7em;
  height: 2em;
  border-radius: 10px;
}

/* MENU OF THE DAY - FORM */

/* PROFILES : SHOW.HTML */
.user-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 4.5em;
}

.user-title-2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.user-main{
  width: 75%;
  margin: auto;
}

.user-cards {
  height: 40em;
  display: flex ;
  justify-content: space-around ;
  align-items: center;
}

#options {
  border: none;
  border-radius: 8px;
  width: 21rem ;
  min-width: 19rem ;
  height: 29em ;
  text-align: center ;
  transition-duration: 0.5s ;
}

.text1{
  width: 18em;
  margin: auto;
}


#bouton-show{
  color: white !important;
}

#bouton-show:hover{
  color: #33DE79 !important;
  border: 1px solid #33DE79;
}

#options a{
  color: #858796;
}

#options a:hover {
  text-decoration: none;
}

.card1 {
  margin-right: 15px;
}

#options:hover {
  box-shadow: 6px 6px 6px #919191;
  border: solid 1px #F7F7F7;
  width: 22rem;
  height: 30em;
  transition-duration: 0.5s;
}

.text{
  min-width: 15em;
  max-width: 15em;
  margin: auto;
}

.photo-card {
  height: 47% !important;
  width: 100%;
}

.card-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.card-text {
  font-size: 1em;
}

/*FORGOT PASSWORD ITEMS*/

.forget-password-image{
  background-image: url(carrot.jpg);
  height: 28em;
  width: 24em;
  border-right: 2px solid rgba(233, 233, 233, 0.5)
}

.choice1 {
  margin-right: 20px;
}

.btn-outline-primary {
  font-weight: bold;
}

/* EDIT FORM ADMIN */
.mini-navbar{
  color: white;
  background-image: radial-gradient(circle at bottom right, #333a4d, #586689) !important;
/*  background-image: linear-gradient(to right, #333a4d 60%, #3c579b) !important;
*/  }

#btn-edit1{
  background-color: #586689 !important;
  color: white;
  border: transparent;
}

#btn-edit1:hover {
 color: white;
 border: none !important;
 background-color: #586689 !important;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #F8F9FC;
  color: #4B4B4B;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Style the input fields */
.writing {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.input-field:focus {
  border: 1px solid #C0C0C0;
}

.form-inputs{
  box-sizing: border-box;
}

/* QR CODE */
#qr-code {
  width: 2em;
  height: 2em;
}

.frame {
  border: black 3px solid;
  width: 70em;
  height: 30em;
}

/* PAYMENTS STRIPE PAGES */
.payment-body {
  height: 45em;
  padding-top: 10em;
}

.card-payement{
  border: solid 1px #EBEBEB;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  padding: 20px;
  background-color: #F8F9FC;
  margin-bottom: 7em;
}

.card-payement ul{
  text-align: left;
  margin-left: 5em;
}

.payement-bag{
  width: 30%;
  border-radius: 50%;
}

.payment-card {
  width: 37%;
  height: 18em;
  margin: auto;
  border: 1px solid #B2AEAE;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}

.payment-title {
  border-bottom: 1px solid #B2AEAE;
  font-weight: bold;
  padding: 10px;
  color: #616161;
  background-color: #DEDEDE
}

#gaspillage {
  width: 14em;
  margin-left: -1em;
}

.montant {
  color: #445276;
}

.payment-image{
  background-image: url(payement.jpg);
  height: 27em;
  width: 24em;
}

.pay-redir{
  font-size: 1.1em;
}

#btn-payement:hover{
  background-color: #3b4766 !important;
  color: white;
  border: 2px solid #3b4766;
  text-decoration: none;
}

#btn-payement {
  border: 2px solid #3b4766;
  color: #3b4766;
  background-color: white !important;
  font-weight: bold;
}

/* DAILY SERVICES */
.text-daily {
  color: #333a4d
}

.daily-title {
  color: #4B4B4B;
  text-align: center;
}

.daily-table{
  border: 1px solid grey;
  width: 75%;
  margin: auto;
  font-size: 1.3em;
  color: #4B4B4B
}

.daily-row:hover {
  background-color: #F9F9F9
}

.daily-btn{
  background-color: white !important;
  color: #333A4D !important;
}

.daily-btn:hover {
  background-color: #3E465C !important;
  color: white;
}

.daily-btn:active {
  border: 2px solid white;
}

.thead{
  background-color: rgb(51, 58, 77);
}

.col-icon {
  width: 7em;
}

.service{
  font-size: 4em;
}

/* USER_MEAL INDEX */
.meal-title{
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
  color: #33DE79;
}

.meals-index {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  padding: 60Px;
  margin-bottom: 4%;
}

.meals-index1:hover {
  transition-duration: 1000ms;
  background: #F9F9F9;
  box-shadow: 2px 2px 2px ;
  box-shadow: 2px 2px 5px #D5D1D1;
}

.meals-index1{
  transition-duration: 1000ms;
}

.meals-index1:hover a{
  color: black;
  text-decoration: underline;
  transition-duration: 1000ms;
}

.meals-index1 p {
  font-size: 1em;
  text-align: center;
}

.meals-index1 a{
  color: #858796;
}

.blockquote-footer{
  color: #33DE79;
}

.meal-card{
  width: 90%;
  margin: auto;
  border-right: none;
  border-left: none;
  padding-left: 7em;
}

.meal-card:hover{
  transition-duration: 1000ms;
  background: #F9F9F9;
  width: 100%;
  padding-left: 11em;

}

.meal-header{
  font-size: 1.3em;
}

/* error page */
.card-error{
  border: solid 1px #EBEBEB;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  padding: 20px;
  background-color: #F8F9FC;
}

.card-error h2{
  color: #353535
}

.card-error ul {
  margin-left: 35%;
  text-align: left;
}

.card-error li:hover{
  font-weight: bold;
}

.sad-fruit {
  width: 30%;
  border-radius: 50%;
}

/* ADMIN INFO DROP DOWN */

.help {
  position: relative;
  display: inline-block;
}

.help-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.help:hover .help-content {
  display: block;
}

