/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require assets/static_page/css/bootstrap/bootstrap
*= require assets/static_page/css/jquery-ui
*= require assets/static_page/css/owl.theme.default.min
*= require assets/static_page/css/owl.theme.default.min
*= require assets/static_page/css/jquery.fancybox.min
*= require assets/static_page/css/bootstrap-datepicker
*= require assets/static_page/css/aos
*= require assets/static_page/css/style

*= require assets/css/sb-admin-2
*= require_tree .
*= require_self
*/



.show-user {
	background-image: url(carrot.jpg);
	background-size: 100%;
}

.user-info {
	width: 60%;
	max-width: 35em;
	margin: auto; 
}

.space {
	height: 10em;
}