/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require assets/static_page/css/style
*= require assets/dashboard/css/sb-admin-2
*= require_tree .
*= require_self
*/

/* MODAL */

.modal-footer {
	display : flex;
	justify-content : center;
}

.modal-header {
	padding-left: 38%;
}

/* BUTTON */

.btn-primary:focus {
	background-color: #C61349 !important;
	border: 1px solid #C61349 !important;
}

/* SHOW USER */

.show-user {
	background-image: url(carrot.jpg);
}

.show-user ul li {
	margin-left: 20px;
}

.user-info {
	max-width: 40em;
	min-width: 15em;
	margin: auto; 
}

.space {
	height: 10em;
}

.user-photo {
	height: 200px; 
	width: 100%; 
	display: block;
	border: 1px solid #D9D9D9;
}

.content {
	margin: auto;
	text-align: center;
}