#menu-of-the-day-wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

.category-wrapper{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 85vh;
}

.starter-choices, .main-course-choices, .dessert-choices{
  max-width: 30%;
  margin: 10px;


}

.meal-detail{
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meal-description{
height: 5vh;
}

.card-text{
  font-size: 1vw;
}

.card > .card-body > .card-text{
/*  display: flex;
  flex-flow: column; nowrap;*/
  min-height: 10vh;
  max-height: 15vh;
}

.meal-image{
  height: 40vh;
  object-fit: cover;
  border-radius: 3px;
}

/*****  FX   *****/
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + div {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
  border: 2px solid #4976F5;
  outline: 4px solid #63A6F6;
}






