body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu-of-the-day-wrapper{
  width: 95%;
  margin: 30px auto;
  display: flex;
  flex-flow: column wrap;

}

.category-wrapper{
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  overflow-x: scroll;
  justify-content: space-around;
  height: 85vh;
  width: 95vw;
  margin: 0 auto;
  padding: auto;
  background-color: #F5F9FC;
}

.title-user-meal{
  margin-top: 20px;
}

.category-wrapper-show{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 74vh;
  width: 90vw;
}

.serving-choices{
  max-width: 22%;
  margin: 10px auto;
}

h3 + hr {
  margin-bottom: 0;
}

.meal-detail{
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meal-description{
  height: 5vh;
}

.card-text{
  font-size: 1vw;
}

.card > .card-body > .card-text{
min-height: 10vh;
max-height: 15vh;
}

.meal-image{
  height: 30vh;
  object-fit: cover;
  border-radius: 3px;
}

.bottom-button{
  margin: 20px auto;
}

/*****  FX   *****/
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + div {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
  border: 1px solid #33DE79;
  outline: 4px solid #33DE79;
}

[type=radio]:hover + div {
  box-shadow: 6px 6px 6px #919191;
  border: solid 1px #F7F7F7;
  transition-duration: 0.5s;
}

.delete-meal{
  margin: auto;
  width: 60%;
  font-size: 1.3em;
}
