<div id="wrapper">
	<%= render 'admins/side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'admins/top_bar' %>
		<%= render 'helpers/flash' %>
		<div class="container-fluid">
			<div class="container">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold">Créer un nouveau menu</h6>
					</div>
					<div class="card-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
