<div class="forget-password">
	<div class="forget-password-container">
		<h2 class="forget-password-title">Mot de passe oublié? Pas de panique!</h2><br />
		<p class="forget-password-text">Entrez l'adresse email avec laquelle vous vous êtes inscrit. Nous allons vous envoyer un email avec un lien pour réinitialiser votre mot de passe.</p><br />

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="field">
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			<%= f.submit "Envoyer", :class => "forget-password-button btn btn-primary"  %>
		</div>
		<% end %>
	</div>
</div>
