<div id="menu-of-the-day-wrapper">
  <h1>Au menu aujourd'hui : </h1>
  <br><br>
  <h3>Entrées</h3>
  <div class="category-wrapper">
    <div class="starter-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="starters" value="starter-1">
          <div class="meal-description card">
            <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Avocat - crevettes</h5>
              <p class="card-text">Des infos présentant le plat et la recette, brievement. Plus d'info sont dispo (AJAAAAX) via le bouton ci-dessous comme les ingrédients et les allergènes présents.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="starter-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="starters" value="starter-2">
          <div class="meal-description card">
            <img src="https://www.academiedugout.fr/images/12715/501-307/gaspacho-andalou.jpg?poix=50&poiy=50" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Gaspacho Andalou</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="starter-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="starters" value="starter-3">
          <div class="meal-description card">
            <img src="https://keldelice-assets.s3.amazonaws.com/attachments/photos/565822/original/oeuf-mayonnaise_2.jpg?1285186398" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Oeuf mayonnaise</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <h3>Plats principaux</h3>
  <div class="category-wrapper">
    <div class="main-course-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="main-course" value="main-1">
          <div class="meal-description card">
            <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Avocat - crevettes</h5>
              <p class="card-text">Des infos présentant le plat et la recette, brievement. Plus d'info sont dispo</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="main-course-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="main-course" value="main-2">
          <div class="meal-description card">
            <img src="https://www.academiedugout.fr/images/12715/501-307/gaspacho-andalou.jpg?poix=50&poiy=50" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Gaspacho Andalou</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="main-course-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="main-course" value="main-3">
          <div class="meal-description card">
            <img src="https://keldelice-assets.s3.amazonaws.com/attachments/photos/565822/original/oeuf-mayonnaise_2.jpg?1285186398" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Oeuf mayonnaise</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <h3>Desserts</h3>
  <div class="category-wrapper">
    <div class="dessert-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="desserts" value="dessert-1">
          <div class="meal-description card">
            <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Avocat - crevettes</h5>
              <p class="card-text">Des infos présentant le plat et la recette, brievement. Plus d'info sont dispo</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="dessert-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="desserts" value="dessert-2">
          <div class="meal-description card">
            <img src="https://www.academiedugout.fr/images/12715/501-307/gaspacho-andalou.jpg?poix=50&poiy=50" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Gaspacho Andalou</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="dessert-choices">
      <div class="meal-detail">
        <label>
          <input type="radio" name="desserts" value="dessert-3">
          <div class="meal-description card">
            <img src="https://keldelice-assets.s3.amazonaws.com/attachments/photos/565822/original/oeuf-mayonnaise_2.jpg?1285186398" class="meal-image" >
            <div class="card-body">
              <h5 class="card-title">Oeuf mayonnaise</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
</div>

